@model Lagerverwaltung.ViewModels.BearbeitenViewModel
@{
    ViewData["Title"] = "Bearbeiten";
}

    
        <div class="container">
            <h1>Bearbeiten</h1>
            <div class="card">
                <h4 class="card-header">
                    ID: @Model.Ware_Id
                </h4>
                <div class="card-body">
                    <form method="post" asp-action="Bearbeiten">
                    <input type="hidden" asp-for="Ware_Id" value="@Model.Ware_Id" />
                    <ul class="list-group-flush">
                        <li class="list-group-item">
                            Beschreibung:
                            <input asp-for="Ware_Beschreibung_NEU" class="form-control" placeholder="Neue Beschreibung" value="@Model.Ware_Beschreibung" />
                            <span asp-validation-for="Ware_Beschreibung_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Eingelagerte Menge:
                            <input asp-for="Menge_NEU" class="form-control" placeholder="Neue Menge" value="@Model.Menge" />
                            <span asp-validation-for="Menge_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Lagerplatz:
                            <select asp-for="Lagerplatz_NEU" asp-items="@(new SelectList(Model.Lagerplatz,"Lagerplatz_Id", "Lagerplatz_Beschreibung", Model.Lagerplatz_NEU))" class="custom-select">
                            </select>
                            <span asp-validation-for="Lagerplatz_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Hersteller:
                            <select asp-for="Hersteller_NEU" asp-items="@(new SelectList(Model.Hersteller,"Hersteller_Id", "Hersteller_Beschreibung", Model.Hersteller_NEU))" class="custom-select">
                            </select>
                            <span asp-validation-for="Hersteller_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Lieferant:
                            <select asp-for="Lieferant_NEU" asp-items="@(new SelectList(Model.Lieferant,"Lieferant_Id", "Lieferant_Beschreibung", Model.Lieferant_NEU))" class="custom-select">
                            </select>
                            <span asp-validation-for="Lieferant_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Seriennummer:
                            <input asp-for="Seriennummer_NEU" class="form-control" placeholder="Neue Seriennummer" value="@Model.Seriennummer" />
                            <span asp-validation-for="Seriennummer_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Modellnummer:
                            <input asp-for="Modellnummer_NEU" class="form-control" placeholder="Neue Modellnummer" value="@Model.Modellnummer" />
                            <span asp-validation-for="Modellnummer_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Auftragsnummer:
                            <input asp-for="Auftragsnummer_NEU" class="form-control" placeholder="Neue Modellnummer" value="@Model.Auftragsnummer" />
                            <span asp-validation-for="Auftragsnummer_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Kategorie:
                            <select asp-for="Kategorie_NEU" asp-items="@(new SelectList(Model.Kategorie,"Kategorie_Name", "Kategorie_Beschreibung", Model.Kategorie_NEU))" class="custom-select">
                            </select>
                            <span asp-validation-for="Kategorie_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Anschaffungskosten:
                            <input asp-for="Anschaffungskosten_NEU" class="form-control" placeholder="Neue Anschaffungskosten" value="@Model.Anschaffungskosten_NEU" />
                            <span asp-validation-for="Anschaffungskosten_NEU" class="text-danger"></span>
                        </li>
                        <li class="list-group-item">
                            Kostenstelle:
                            <select asp-for="Kostenstelle_NEU" asp-items="@(new SelectList(Model.Kostenstelle,"Kostenstelle_Nr", "Kostenstelle_Beschreibung", Model.Kostenstelle_NEU))" class="custom-select">
                            </select>
                            <span asp-validation-for="Kostenstelle_NEU" class="text-danger"></span>
                        </li>

                        <div class="form-group, m-3">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-save"></i>  Speichern
                            </button>
                            <button asp-action="Details" asp-route-id="@Model.Ware_Id" class="btn btn-outline-primary">Abbrechen</button>

                        </div>

                        </li>
                    </ul>
                    <input type="hidden" asp-for="Ware_Einlagerungsdatum" value="@Model.Ware_Einlagerungsdatum" />
                    </form>
                    

            </div>
                <div class="card-footer text-muted">
                    Einlagerungsdatum: @Model.Ware_Einlagerungsdatum.ToShortDateString() <span class="text-danger"> eingebucht von :  </span>
                </div>

            </div>

        </div>
