@model Lagerverwaltung.ViewModels.BuchenViewModel

@{
    ViewData["Title"] = "Buchen";
}

<h1>Buchen</h1>

<h4>Ware</h4>
<div asp-validation-summary="All" class="text-danger"></div>
<hr />
<form asp-action="Buchen">
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Ware_Beschreibung" class="control-label"></label>
                <input asp-for="Ware_Beschreibung" class="form-control" placeholder="Beschreibung" value="@Model.Ware_Beschreibung" />
                <span asp-validation-for="Ware_Beschreibung" class="text-danger"></span>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx" checked>
                <label class="custom-control-label" for="customRadio">Menge</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
                <label class="custom-control-label" for="customRadio2">Seriennummer</label>
            </div>
            <div class="form-group collapse show" id="Menge">
                <label asp-for="Menge" class="control-label"></label>
                <input asp-for="Menge" type="number" class="form-control" value="@Model.Menge" />
                <span asp-validation-for="Menge" class="text-danger"></span>
            </div>
            <div class="form-group collapse" id="Serie">
                <label asp-for="Seriennr" class="control-label"></label>
                <input asp-for="Seriennr" class="form-control" value="@Model.Seriennr" />
                <span asp-validation-for="Seriennr" class="text-danger"></span>
            </div>
            <div class="form-group" id="Modell">
                <label asp-for="Modellnummer" class="control-label"></label>
                <input asp-for="Modellnummer" class="form-control" value="@Model.Modellnummer" />
                <span asp-validation-for="Modellnummer" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <input type="text" asp-for="Suche" class="form-control" placeholder="Lagerplatz Suche..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" asp-action="BuchenSuche">Suche</button>
                </div>
            </div>



            <div class="form-group">
                <label asp-for="Lagerplatz_Id" class="control-label"></label>
                <select asp-for="Lagerplatz_Id" asp-items="@(new SelectList(Model.Lagerplatz,"Lagerplatz_Id", "Lagerplatz_Beschreibung"))" class="custom-select">
                </select>
                <span asp-validation-for="Lagerplatz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auftragsnummer" class="control-label"></label>
                <input asp-for="Auftragsnummer" class="form-control" value="@Model.Auftragsnummer" />
                <span asp-validation-for="Auftragsnummer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buchen" class="btn btn-danger" />
            </div>

        </div>

        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="Kategorie_Name" class="control-label"></label>
                <select asp-for="Kategorie_Name" asp-items="@(new SelectList(Model.Kategorie,"Kategorie_Name", "Kategorie_Beschreibung"))" class="custom-select">
                </select>
                <span asp-validation-for="Kategorie_Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hersteller_Id" class="control-label"></label>
                <select asp-for="Hersteller_Id" asp-items="@(new SelectList(Model.Hersteller,"Hersteller_Id", "Hersteller_Beschreibung"))" class="custom-select">
                </select>
                <span asp-validation-for="Hersteller_Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Kostenstelle_Id" class="control-label"></label>
                <select asp-for="Kostenstelle_Id" asp-items="@(new SelectList(Model.Kostenstelle,"Kostenstelle_Nr", "Kostenstelle_Beschreibung"))" class="custom-select">
                </select>
                <span asp-validation-for="Kostenstelle_Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Lieferant_Id" class="control-label"></label>
                <select asp-for="Lieferant_Id" asp-items="@(new SelectList(Model.Lieferant,"Lieferant_Id", "Lieferant_Beschreibung"))" class="custom-select">
                </select>
                <span asp-validation-for="Lieferant_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anschaff_Kosten" class="control-label"></label>
                <input asp-for="Anschaff_Kosten" class="form-control" value="@Model.Anschaff_Kosten" />
                <span asp-validation-for="Anschaff_Kosten" class="text-danger"></span>
            </div>




        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>




@section Scripts {
    <script>

        $(document).ready(function () {

            var test = true;

            $("#customRadio").click(function () {

                if (!test) {
                    $("#Menge").show();
                    $("#Serie").hide();
                    test = true;

                }

            });

            $("#customRadio2").click(function () {

                if (test) {
                    $("#Menge").hide();
                    $("#Serie").show();
                    test = false;
                }

            });




        });

    </script>
}
