@model Lagerverwaltung.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <h1>Details</h1>

    <div class="card">
        <h4 class="card-header">
            ID: @Model.Ware_Id
        </h4>
        <div class="card-body">
            <ul class="list-group-flush">
                <li class="list-group-item">
                    Beschreibung: @Model.Ware_Beschreibung
                </li>
                <li class="list-group-item">
                    Eingelagerte Menge: <span class="text-danger">@Convert.ToInt32(Model.Menge)</span>
                </li>
                <li class="list-group-item">
                    Lagerplatz: <span class="text-danger ">@Model.Lagerplatz_Beschreibung</span>
                </li>
                <li class="list-group-item">
                    Hersteller: <span class="text-danger ">@Model.Hersteller_Beschreibung</span>
                </li>
                <li class="list-group-item">
                    Lieferant: <span class="text-danger ">@Model.Lieferant_Beschreibung</span>
                </li>
                <li class="list-group-item">
                    Seriennummer: <span class="text-danger ">@Model.Seriennummer</span>
                </li>
                <li class="list-group-item">
                    Modellnummer: <span class="text-danger ">@Model.Modellnummer</span>
                </li>
                <li class="list-group-item">
                    Auftragsnummer: <span class="text-danger ">@Model.Auftragsnummer</span>
                </li>
                <li class="list-group-item">
                    Kategorie: <span class="text-danger ">@Model.Kategorie_Beschreibung</span>
                </li>
                <li class="list-group-item">
                    Anschaffungskosten: <span class="text-danger ">@Model.Anschaffungskosten</span>
                </li>
                <li class="list-group-item">
                    Kostenstelle: <span class="text-danger ">@Model.Kostenstellennr</span>
                </li>

                <div class="form-group, m-3">
                    <a asp-controller="Ware" asp-action="Bearbeiten" class="btn btn-warning" asp-route-id="@Model.Ware_Id"><i class="fa fa-pen"></i> Bearbeiten</a>
                    <button data-toggle="modal" data-target="#Ausbuchen" class="btn btn-danger">
                        <i class="fa fa-box"></i>  Ausbuchen
                    </button>
                    <a asp-action="Index" class="btn btn-primary">Zurück</a>

                </div>

            </ul>


        </div>
        <div class="card-footer text-muted">
            Einlagerungsdatum: @Model.Ware_Einlagerungsdatum.ToShortDateString()<span class="text-danger"> eingebucht von :</span>
        </div>

    </div>

    <div class="modal fade" id="Ausbuchen" tabindex="-1" role="dialog" aria-labelledby="Ausbuchen" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary">@Model.Ware_Beschreibung</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" asp-action="Ausbuchen">
                    <div class="modal-body">
                        <h2>Lagerplatz : <span class="text-danger">@Model.Lagerplatz_Beschreibung</span></h2>

                        <div class="form-group collapse show my-3" id="Menge">
                            <label class="control-label">Eingelagerte Menge : @Convert.ToInt32(Model.Menge)</label>
                            <input asp-for="AusbuchenMenge" type="number" class="form-control" value="@Model.AusbuchenMenge" />
                            <input type="hidden" asp-for="Ware_Id" value="@Model.Ware_Id" />
                            <span asp-validation-for="AusbuchenMenge" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <input type="submit" class="btn btn-danger" value="Ausbuchen" />
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            if ("@Model.Fehler" != "False") {
                $("#Ausbuchen").modal();
            }

            

        });

        

    </script>
}