@model Lagerverwaltung.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Übersicht";
}



    <div class="container">
        <h1>Index</h1>
        <a asp-action="Buchen" class="btn btn-primary btn-sm mb-3">
            Einbuchen
        </a>
        <a asp-action="Dazubuchen" class="btn btn-primary btn-sm mb-3">
            Ware dazu
        </a>
        <form asp-action="Index">
            <div class="input-group mb-3">
                <input asp-for="Suche_Beschreibung" class="form-control" placeholder="Beschreibung...">
                <div class="input-group-append">
                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="collapse" data-target="#Erweiterung" aria-expanded="false" aria-controls="Erweiterung">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                </div>
            </div>
            <div class="collapse" id="Erweiterung">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <input asp-for="Suche_Hersteller" class="form-control" placeholder="Hersteller...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <input asp-for="Suche_Kategorie" class="form-control" placeholder="Kategorie...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <input asp-for="Suche_Kostenstellennr" class="form-control" placeholder="Kostenstellennr...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <input asp-for="Suche_Lagerplatz" class="form-control" placeholder="Lagerplatz...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <input asp-for="Suche_Lieferanten" class="form-control" placeholder="Lieferanten...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <input asp-for="Suche_Modellnummer" class="form-control" placeholder="Modellnummer...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <input asp-for="Suche_Seriennummer" class="form-control" placeholder="Seriennummer...">
                        </div>
                    </div>

                    <input asp-for="Sortierung" type="hidden" value="@Model.Sortierung">
                    <input asp-for="Suche" type="hidden" value="true">
                </div>                         
            </div>

            <div class="input-group mb-3">
                <input type="submit"  value="Suchen" class="btn btn-primary" />
            </div>
        </form>



            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <form asp-action="Index">
                                <div class="input-group">
                                    <input asp-for="Suche_Beschreibung" type="hidden" value="@Model.Suche_Beschreibung">
                                    <input asp-for="Sortierung" type="hidden" value="Beschreibung">
                                    <input asp-for="Beschreiung" type="hidden" value="@Model.Beschreiung">
                                    <input asp-for="Menge" type="hidden" value="@Model.Menge">
                                    <input asp-for="Datum" type="hidden" value="@Model.Datum">
                                    <button type="submit" class=" btn btn-dark">
                                        Beschreibung
                                    </button>
                                </div>
                            </form>

                        </th>
                        <th scope="col">
                            <form asp-action="Index">
                                <div class="input-group">
                                    <input asp-for="Suche_Beschreibung" type="hidden" value="@Model.Suche_Beschreibung">
                                    <input asp-for="Sortierung" type="hidden" value="Menge">
                                    <input asp-for="Beschreiung" type="hidden" value="@Model.Beschreiung">
                                    <input asp-for="Menge" type="hidden" value="@Model.Menge">
                                    <input asp-for="Datum" type="hidden" value="@Model.Datum">
                                    <button type="submit" class=" btn btn-dark">
                                        Menge
                                    </button>
                                </div>
                            </form>
                        </th>
                        <th scope="col">
                            <form asp-action="Index">
                                <div class="input-group">
                                    <input asp-for="Suche_Beschreibung" type="hidden" value="@Model.Suche_Beschreibung">
                                    <input asp-for="Sortierung" type="hidden" value="Datum">
                                    <input asp-for="Beschreiung" type="hidden" value="@Model.Beschreiung">
                                    <input asp-for="Menge" type="hidden" value="@Model.Menge">
                                    <input asp-for="Datum" type="hidden" value="@Model.Datum">
                                    <button type="submit" class=" btn btn-dark">
                                        Einlagerungsdatum
                                    </button>
                                </div>
                            </form>
                        </th>
                        <th scope="col">Seriennummer</th>
                        <th scope="col">Modellnummer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;

                    }
                    @if (Model.Waren != null)
                    {


                        @foreach (var ware in Model.Waren)
                        {
                            i++;


                        <tr>
                            <th scope="row">@i</th>
                            <td>
                                @ware.Ware_Beschreibung
                            </td>
                            <td>
                                @Convert.ToInt32(ware.Menge)
                            </td>
                            <td>
                                @ware.Ware_Einlagerungsdatum.ToShortDateString()
                            </td>
                            <td>
                                @ware.Seriennr
                            </td>
                            <td>
                                @ware.Modellnummer
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@ware.Ware_Id " class="btn btn-outline-danger btn-sm">
                                   Details
                                </a>


                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
    </div>
