@model Lagerverwaltung.ViewModels.KomErstellenViewModel
@{
    ViewData["Title"] = "Erstellen";
    int i = 0;
}

<h1>Neue Kommsionierung</h1>
<div class="row">
    <div class="col-6">
        <form method="post" asp-action="Erstellen">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Beschreibung"></label>
                <input asp-for="Beschreibung" class="form-control" id="user" />
                
            </div>
            
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Menge</th>
                        <th scope="col" width="100"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ware in Model.Waren)
                    {
                        
                    <tr>
                        <input type="hidden" asp-for="Waren[i].Ware_Id" value="@ware.Ware_Id" />
                        <th scope="row">@i</th>
                        <td>@ware.Beschreibung</td>
                        <td>@ware.Menge</td>
                        <td>
                            @if (ware.Menge > 1)
                            {
                                <div class="form-group">

                                    <input asp-for="Waren[i].Kom_Menge" type="number" class="form-control" value="1" />

                                </div>
                            }
                            else
                            {
                                <input type="hidden" asp-for="Waren[i].Kom_Menge" value="@ware.Menge" />
                            }
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Waren[i].Ausgewählt" type="checkbox" class="custom-control-input" id="@i">
                                <label class="custom-control-label" for="@i"></label>
                            </div>
                        </td>
                    </tr>

                        i = i + 1;
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary float-right">Hinzufügen</button>
        </form>
    </div>
</div>