@model Lagerverwaltung.ViewModels.BerichtViewModel
@{
    ViewData["Title"] = "Bericht";
    int i = 0;
}

<div class="jumbotron">
    <h2 class="display-4">Berichte</h2>
    <p class="lead">Waren im Lager: <b>@Model.Anzahl_Waren</b>
    <p class="lead">Gesamtwert aller Waren: <b>@Model.Warenwert €</b></p>
</div>

<h3>Lagerauslastung:</h3>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: @Convert.ToInt32(Model.Lagerbelegung)%;" aria-valuenow="@Convert.ToInt32(Model.Lagerbelegung)" aria-valuemin="0" aria-valuemax="100">@Model.Lagerbelegung%</div>
</div>

<p>Aktuell sind @Model.Anzahl_Waren / @Model.Lagerplaetze Lagerplätze belegt</p>

<h3>25 ältesten Waren im Lager:</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Beschreibung</th>
            <th scope="col">Einlagerungsdatum</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model.Ware_List)
        {
           
            i = i + 1;
            <tr>
                <th scope="row">@i</th>
                <td>@w.Ware_Beschreibung</td>
                <td>@w.Ware_Einlagerungsdatum.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>



