@model Lagerverwaltung.ViewModels.VerwaltungÜbersichtViewmodel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Http

@{
    ViewData["Title"] = "Index";

    int s = 0;
}

    <form method="post">

        <h1>Stammdaten / <span><a class="text-reset" href="#Lager">Lager</a></span></h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="custom-control custom-checkbox  custom-control-inline m-2 ml-4" data-toggle="collapse" data-target="#Kategorie" aria-expanded="false" aria-controls="Kategorie">
            <input class="custom-control-input" id="customCheck1" asp-for="KFilter" checked />
            <label class="custom-control-label" for="customCheck1">Kategorie</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline m-2" data-toggle="collapse" data-target="#Hersteller" aria-expanded="false" aria-controls="Hersteller" id="H">
            <input class="custom-control-input" id="customCheck2" asp-for="HFilter" checked>
            <label class="custom-control-label" for="customCheck2">Hersteller</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline m-2" data-toggle="collapse" data-target="#Lieferant" aria-expanded="false" aria-controls="Lieferant" id="L">
            <input class="custom-control-input" id="customCheck3" asp-for="LFilter" checked>
            <label class="custom-control-label" for="customCheck3">Lieferant</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline m-2" data-toggle="collapse" data-target="#Kostenstelle" aria-expanded="false" aria-controls="Kostenstelle" id="KS">
            <input class="custom-control-input" id="customCheck4" asp-for="KSFilter" checked>
            <label class="custom-control-label" for="customCheck4">Kostenstelle</label>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 collapse mb-2 " id="Kategorie">
                    <div class="card">
                        <div class="card-header">
                            Kategorie
                        </div>
                        <div class="card-body" style="overflow-y: scroll;height: 300px;">
                            <ul class="list-group-flush ">
                                @foreach (var k in Model.Kategorien)
                                {
                                    <input type="submit" asp-action="Index" asp-route-Id="@k.Kategorie_Name" asp-route-Kat="Kategorie" class="list-group-item list-group-item-action" id="test" value="@k.Kategorie_Beschreibung" />





                                }
                            </ul>
                        </div>
                        <div class="card-footer">

                            <div class="collapse multi-collapse text-center" id="neuLable">
                                <span class="text-danger text-center my-2">Neu</span>
                            </div>
                            <div class="collapse multi-collapse1 text-center" id="bearbeitenLable">
                                <span class="text-danger text-center my-2">Bearbeiten</span>
                            </div>
                            <div class="collapse multi-collapse2 text-center" id="löschen">
                                <span class="text-danger text-center my-2">Löschen</span>
                            </div>

                            <div class="collapse multi-collapse multi-collapse1" id="neu">
                                <input asp-for="Kategorie.Kategorie_Name" type="hidden" value="@Model.Kategorie.Kategorie_Name" />
                                <input asp-for="Kategorie.Kategorie_Beschreibung" class="form-control" value="@Model.Kategorie.Kategorie_Beschreibung" />
                                <span asp-validation-for="Kategorie" class="text-danger"></span>

                            </div>

                            <div class="collapse show multi-collapse multi-collapse1" id="bearbeitenFeld">
                                @if (!string.IsNullOrEmpty(Model.Kategorie.Kategorie_Name))
                                {
                                    <input asp-for="Kategorie.Kategorie_Beschreibung" class="form-control" value="@Model.Kategorie.Kategorie_Beschreibung" readonly />
                                    <span asp-validation-for="Kategorie" class="text-danger"></span>
                                }
                            </div>

                            <div class="collapse show multi-collapse multi-collapse1 multi-collapse2" id="neu">
                                <button class="btn btn-info my-2" data-toggle="collapse" type="button" data-target=".multi-collapse" aria-expanded="false" aria-controls="neu bearbeitenFeld speichern neuLable">
                                    Neu
                                </button>
                                @if (!string.IsNullOrEmpty(Model.Kategorie.Kategorie_Name))
                                {
                                    <button class="btn btn-success my-2" data-toggle="collapse" type="button" data-target=".multi-collapse1" aria-expanded="false" aria-controls="bearbeiten bearbeitenFeld neu speichern bearbeitenLable">
                                        Bearbeiten
                                    </button>
                                    <button class="btn btn-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse2" aria-expanded="false" aria-controls="löschen löschenLable neu ">
                                        Löschen
                                    </button>
                                }
                            </div>


                            <div class="collapse multi-collapse" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Neu" asp-route-Id="Kategorie" class="btn btn-primary float-right my-2" type="submit" value="Speichern">




                            </div>
                            <div class="collapse  multi-collapse1" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse1" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Bearbeiten" asp-route-Id="Kategorie" class="btn btn-primary float-right my-2" type="submit" value="Speichern">


                            </div>

                            <div class="collapse  multi-collapse2" id="löschen">

                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse2" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input type="hidden" asp-for="Kategorie.Kategorie_Name" value="@Model.Kategorie.Kategorie_Name" />
                                <input asp-action="Löschen" asp-route-Id="Kategorie" class="btn btn-danger float-right my-2" type="submit" value="Löschen bestätigen">




                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4  collapse mb-2" id="Hersteller">
                    <div class="card">
                        <div class="card-header">
                            Hersteller
                        </div>
                        <div class="card-body" style="overflow-y: scroll;height: 300px;">
                            <ul class="list-group-flush">
                                @foreach (var k in Model.Herstellers)
                                {
                                    <input type="submit" asp-action="Index" asp-route-Id="@k.Hersteller_Id" asp-route-Kat="Hersteller" class="list-group-item list-group-item-action" id="test" value="@k.Hersteller_Beschreibung" />

                                }
                            </ul>
                        </div>
                        <div class="card-footer">

                            <div class="collapse multi-collapse3 text-center" id="neuLable">
                                <span class="text-danger text-center my-2">Neu</span>
                            </div>
                            <div class="collapse multi-collapse4 text-center" id="bearbeitenLable">
                                <span class="text-danger text-center my-2">Bearbeiten</span>
                            </div>
                            <div class="collapse multi-collapse5 text-center" id="löschen">
                                <span class="text-danger text-center my-2">Löschen</span>
                            </div>

                            <div class="collapse multi-collapse3 multi-collapse4" id="neu">
                                <input asp-for="Hersteller.Hersteller_Id" type="hidden" value="@Model.Hersteller.Hersteller_Id" />
                                <input asp-for="Hersteller.Hersteller_Beschreibung" class="form-control" value="@Model.Hersteller.Hersteller_Beschreibung" />
                                <span asp-validation-for="Hersteller" class="text-danger"></span>

                            </div>

                            <div class="collapse show multi-collapse3 multi-collapse4" id="bearbeitenFeld">
                                @if (Model.Hersteller.Hersteller_Id > 0)
                                {
                                    <input asp-for="Hersteller.Hersteller_Beschreibung" class="form-control" value="@Model.Hersteller.Hersteller_Beschreibung" readonly />

                                }
                            </div>

                            <div class="collapse show multi-collapse3 multi-collapse4 multi-collapse5" id="neu">
                                <button class="btn btn-info my-2" data-toggle="collapse" type="button" data-target=".multi-collapse3" aria-expanded="false" aria-controls="neu bearbeitenFeld speichern neuLable">
                                    Neu
                                </button>
                                @if (Model.Hersteller.Hersteller_Id > 0)
                                {
                                    <button class="btn btn-success my-2" data-toggle="collapse" type="button" data-target=".multi-collapse4" aria-expanded="false" aria-controls="bearbeiten bearbeitenFeld neu speichern bearbeitenLable">
                                        Bearbeiten
                                    </button>
                                    <button class="btn btn-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse5" aria-expanded="false" aria-controls="löschen löschenLable neu ">
                                        Löschen
                                    </button>
                                }
                            </div>


                            <div class="collapse multi-collapse3" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse3" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Neu" asp-route-Id="Hersteller" class="btn btn-primary float-right my-2" type="submit" value="Speichern">




                            </div>
                            <div class="collapse  multi-collapse4" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse4" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Bearbeiten" asp-route-Id="Hersteller" class="btn btn-primary float-right my-2" type="submit" value="Speichern">


                            </div>

                            <div class="collapse  multi-collapse5" id="löschen">

                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse5" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input type="hidden" asp-for="Hersteller.Hersteller_Id" value="@Model.Hersteller.Hersteller_Id" />
                                <input asp-action="Löschen" asp-route-Id="Hersteller" class="btn btn-danger float-right my-2" type="submit" value="Löschen bestätigen">




                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4  collapse  mb-2" id="Lieferant">
                    <div class="card">
                        <div class="card-header">
                            Lieferanten
                        </div>
                        <div class="card-body" style="overflow-y: scroll;height: 300px;">
                            <ul class="list-group-flush">
                                @foreach (var k in Model.Lieferanten)
                                {
                                    <input type="submit" asp-action="Index" asp-route-Id="@k.Lieferant_Id" asp-route-Kat="Lieferant" class="list-group-item list-group-item-action" id="test" value="@k.Lieferant_Beschreibung" />

                                }
                            </ul>
                        </div>
                        <div class="card-footer">

                            <div class="collapse multi-collapse6 text-center" id="neuLable">
                                <span class="text-danger text-center my-2">Neu</span>
                            </div>
                            <div class="collapse multi-collapse7 text-center" id="bearbeitenLable">
                                <span class="text-danger text-center my-2">Bearbeiten</span>
                            </div>
                            <div class="collapse multi-collapse8 text-center" id="löschen">
                                <span class="text-danger text-center my-2">Löschen</span>
                            </div>

                            <div class="collapse multi-collapse6 multi-collapse7" id="neu">
                                <input asp-for="Lieferant.Lieferant_Id" type="hidden" value="@Model.Lieferant.Lieferant_Id" />
                                <input asp-for="Lieferant.Lieferant_Beschreibung" class="form-control" value="@Model.Lieferant.Lieferant_Beschreibung" />
                                <span asp-validation-for="Lieferant" class="text-danger"></span>

                            </div>

                            <div class="collapse show multi-collapse6 multi-collapse7" id="bearbeitenFeld">
                                @if (Model.Lieferant.Lieferant_Id > 0)
                                {
                                    <input asp-for="Lieferant.Lieferant_Beschreibung" class="form-control" value="@Model.Lieferant.Lieferant_Beschreibung" readonly />

                                }
                            </div>

                            <div class="collapse show multi-collapse6 multi-collapse7 multi-collapse8" id="neu">
                                <button class="btn btn-info my-2" data-toggle="collapse" type="button" data-target=".multi-collapse6" aria-expanded="false" aria-controls="neu bearbeitenFeld speichern neuLable">
                                    Neu
                                </button>
                                @if (Model.Lieferant.Lieferant_Id > 0)
                                {
                                    <button class="btn btn-success my-2" data-toggle="collapse" type="button" data-target=".multi-collapse7" aria-expanded="false" aria-controls="bearbeiten bearbeitenFeld neu speichern bearbeitenLable">
                                        Bearbeiten
                                    </button>
                                    <button class="btn btn-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse8" aria-expanded="false" aria-controls="löschen löschenLable neu ">
                                        Löschen
                                    </button>
                                }
                            </div>


                            <div class="collapse multi-collapse6" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse6" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Neu" asp-route-Id="Lieferant" class="btn btn-primary float-right my-2" type="submit" value="Speichern">




                            </div>
                            <div class="collapse  multi-collapse7" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse7" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Bearbeiten" asp-route-Id="Lieferant" class="btn btn-primary float-right my-2" type="submit" value="Speichern">


                            </div>

                            <div class="collapse  multi-collapse8" id="löschen">

                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse8" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input type="hidden" asp-for="Lieferant.Lieferant_Id" value="@Model.Lieferant.Lieferant_Id" />
                                <input asp-action="Löschen" asp-route-Id="Lieferant" class="btn btn-danger float-right my-2" type="submit" value="Löschen bestätigen">




                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4  collapse  mb-2" id="Kostenstelle">
                    <div class="card">
                        <div class="card-header">
                            Kostenstellen
                        </div>
                        <div class="card-body" style="overflow-y: scroll;height: 300px;">
                            <ul class="list-group-flush">
                                @foreach (var k in Model.Kostenstellen)
                                {
                                    <input type="submit" asp-action="Index" asp-route-Id="@k.Kostenstelle_Nr" asp-route-Kat="Kostenstelle" class="list-group-item list-group-item-action" id="test" value="@k.Kostenstelle_Beschreibung" />

                                }
                            </ul>
                        </div>
                        <div class="card-footer">

                            <div class="collapse multi-collapse10 text-center" id="neuLable">
                                <span class="text-danger text-center my-2">Neu</span>
                            </div>
                            <div class="collapse multi-collapse11 text-center" id="bearbeitenLable">
                                <span class="text-danger text-center my-2">Bearbeiten</span>
                            </div>
                            <div class="collapse multi-collapse12 text-center" id="löschen">
                                <span class="text-danger text-center my-2">Löschen</span>
                            </div>

                            <div class="collapse multi-collapse10 multi-collapse11" id="neu">
                                <input asp-for="Kostenstelle.Kostenstelle_Nr" type="hidden" value="@Model.Kostenstelle.Kostenstelle_Nr" />
                                <input asp-for="Kostenstelle.Kostenstelle_Beschreibung" class="form-control" value="@Model.Kostenstelle.Kostenstelle_Beschreibung" />
                                <span asp-validation-for="Kostenstelle" class="text-danger"></span>

                            </div>

                            <div class="collapse show multi-collapse10 multi-collapse11" id="bearbeitenFeld">
                                @if (Model.Kostenstelle.Kostenstelle_Nr > 0)
                                {
                                    <input asp-for="Kostenstelle.Kostenstelle_Beschreibung" class="form-control" value="@Model.Kostenstelle.Kostenstelle_Beschreibung" readonly />

                                }
                            </div>

                            <div class="collapse show multi-collapse10 multi-collapse11 multi-collapse12" id="neu">
                                <button class="btn btn-info my-2" data-toggle="collapse" type="button" data-target=".multi-collapse10" aria-expanded="false" aria-controls="neu bearbeitenFeld speichern neuLable">
                                    Neu
                                </button>
                                @if (Model.Kostenstelle.Kostenstelle_Nr > 0)
                                {
                                    <button class="btn btn-success my-2" data-toggle="collapse" type="button" data-target=".multi-collapse11" aria-expanded="false" aria-controls="bearbeiten bearbeitenFeld neu speichern bearbeitenLable">
                                        Bearbeiten
                                    </button>
                                    <button class="btn btn-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse12" aria-expanded="false" aria-controls="löschen löschenLable neu ">
                                        Löschen
                                    </button>
                                }
                            </div>


                            <div class="collapse multi-collapse10" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse10" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Neu" asp-route-Id="Kostenstelle" class="btn btn-primary float-right my-2" type="submit" value="Speichern">




                            </div>
                            <div class="collapse  multi-collapse11" id="speichern">
                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse11" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input asp-action="Bearbeiten" asp-route-Id="Kostenstelle" class="btn btn-primary float-right my-2" type="submit" value="Speichern">


                            </div>

                            <div class="collapse  multi-collapse12" id="löschen">

                                <button class="btn btn-outline-danger my-2" data-toggle="collapse" type="button" data-target=".multi-collapse12" aria-expanded="false" aria-controls="neu">
                                    Abbrechen
                                </button>

                                <input type="hidden" asp-for="Kostenstelle.Kostenstelle_Nr" value="@Model.Kostenstelle.Kostenstelle_Nr" />
                                <input asp-action="Löschen" asp-route-Id="Kostenstelle" class="btn btn-danger float-right my-2" type="submit" value="Löschen bestätigen">




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

<h1 id="Lager">Lager Verwaltung</h1>

<hr />

<div class="row">

    <div class="col-md-4">

        <div class="list-group">
            <div class="list-group-item">
                <span class="text-danger">Neues Lager</span>
            </div>
            <div class="list-group-item">
                <form asp-controller="Verwaltung" asp-action="Edit">

                    <input asp-for="Lager.lager" type="hidden" value="1" />
                    <input asp-for="KFilter" type="hidden" value="@Model.KFilter" />
                    <input asp-for="HFilter" type="hidden" value="@Model.HFilter" />
                    <input asp-for="LFilter" type="hidden" value="@Model.LFilter" />
                    <input asp-for="KSFilter" type="hidden" value="@Model.KSFilter" />
                    @for (int t = 0; t < Model.Lager.lagerbezeichner.Count(); t++)
                    {
                        <input asp-for="Lager.lagerbezeichner[t]" type="hidden" value="@Model.Lager.lagerbezeichner[t]" />
                    }

                    <div class="form-group">
                        <label asp-for="Lager.Anzahl" class="control-label"></label>
                        <input asp-for="Lager.Anzahl" class="form-control" value="0" />
                        @if (Model.Lager.lager == 1)
                        {
                            <span asp-validation-for="Lager.Anzahl" class="text-danger"></span>
                        }

                    </div>

                    <div class="form-group">
                        <input type="submit" value="Erstellen" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>

    </div>
    @foreach (var i in Model.Lager.lagerbezeichner)
    {

        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item">
                    @i Bestand @Model.Lager.bestand[s]
                </div>
                <div class="list-group-item">
                    <form asp-controller="Verwaltung" asp-action="Edit">

                        <input asp-for="Lager.lager" type="hidden" value="@i" />
                        <input asp-for="KFilter" type="hidden" value="@Model.KFilter" />
                        <input asp-for="HFilter" type="hidden" value="@Model.HFilter" />
                        <input asp-for="LFilter" type="hidden" value="@Model.LFilter" />
                        <input asp-for="KSFilter" type="hidden" value="@Model.KSFilter" />
                        @for (int t = 0; t < Model.Lager.lagerbezeichner.Count(); t++)
                        {
                            <input asp-for="Lager.lagerbezeichner[t]" type="hidden" value="@Model.Lager.lagerbezeichner[t]" />
                        }

                        <div class="form-group">
                            <label asp-for="Lager.Anzahl" class="control-label"></label>
                            <input asp-for="Lager.Anzahl" class="form-control" value="0" />
                            @if (Model.Lager.lager == i)
                            {
                                <span asp-validation-for="Lager.Anzahl" class="text-danger"></span>
                            }

                        </div>

                        <div class="form-group">
                            <input type="submit" value="Erweitern" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
        s++;
    }

</div>
<hr />

<a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">
    Abbrechen
</a>

@section Scripts {
    <script>

        $(document).ready(function () {



            if ("@Model.KFilter" == "True") {
                
                $("#Kategorie").collapse('show');
            }
            else {
                $("#customCheck1").prop("checked", false);
            }
            if ("@Model.HFilter" == "True") {
                
                $("#Hersteller").collapse('show');
            }
            else {
                $("#customCheck2").prop("checked", false);
            }
            if ("@Model.LFilter" == "True") {
               
                 $("#Lieferant").collapse('show');
            }
            else {
                $("#customCheck3").prop("checked", false);
            }
            if ("@Model.KSFilter" == "True") {
                
                $("#Kostenstelle").collapse('show');
            }
            else {
                $("#customCheck4").prop("checked", false);
            }



        });

    </script>
}